<h2>See All of our vehicles below:</h2>

<ul>    <!--  display each vehicle model as a link  -->

  <% @vehicles.each() do |vehicle| %>

  <li><a href="/vehicles/<%= vehicle.id() %>">
      <%= vehicle.id() %>
      <%= vehicle.make() %>
      <%= vehicle.model() %>
      <%= vehicle.year() %> </a></li>


  <% end %>
</ul>

<a href="/"Home></a>
